.search-container {
	padding-top: 20px;
}

.list {
	list-style-type: none;
	padding: 5em;
	margin: 2em;
}

.list-item {
	cursor: pointer;
	padding: .5em;
	border: 1px solid black;
	margin: 0 auto;
}

.movie-image-container {
	padding-left: 2em;
	padding-right: 2em;
}

.movie-image {
	width: 200px;
	height: auto;
}